.timeLabel {
  margin-left: 5px;
  margin-right: 5px;
}

.clickEditInput {
  font-size: 10px;
  color: #999;
  display: inline-block;
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;

  :global .Select-control {
    background-color: #ddd;
    padding: 0px;
    border-radius: 0px;
  }

  :global .Select-menu-outer {
    z-index: 999;
  }
}

.topContainer {
  display: inline-flex;
  align-items: flex-start;
  margin-right: 5px;
}
