.scheduleTable {
  border-collapse: collapse;
  th {
    background-color: #444444;
  }
  td {
    vertical-align: top;
    min-height: 20px;
    width: 100px;
    border-right: 1px solid #777;

    &:hover {
    }

    &.selected {
      background-color: #94ff8a;
    }

    &.rowHeader {
      width: 100px;
    }
  }
}

.addButton {
  cursor: pointer;
}

.hourInputsHolder {
  display: inline-block;
}

.hourInput  {

  display: inline-block;
  input {
    border: none;
    width: 35px;
  }
}
