.scheduleTable {
  border-collapse: collapse;
  td {
    vertical-align: top;
    min-height: 20px;
    width: 100px;

    &:hover {
    }

    &.selected {
      background-color: #94ff8a;
    }

    &.rowHeader {
      width: 100px;
    }
  }
}

.hourInputsHolder {
  display: inline-block;
}

.hourInput  {

  display: inline-block;
  input {
    width: 30px;
  }
}
