$cellWidth: 194px;

.container {
  background-color: red;
  position: fixed;
  left: 100px;
  top: 100px;
  right: 0;
  bottom: 0;
}

.table {
  border-collapse: collapse;
  background-color: #000;

  .cell {
    height: 50px;
    width: $cellWidth;
    min-width: 100px;
    text-align: left;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 60px; /*becomes 218px with padding*/
    min-width: 60px;
  }

  .timeCell {
    font-size: 11px;
  }

  .none {
    background-color: #444;
  }

  .selected {
    filter: brightness(1.5);
    .debugInfo {
      display: inline-block;
    }
  }

  .dayName {
    font-size: 13px;
    color: #cccccc;
  }

  .day {
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
  }

  .bookable {
    background-color: #94ff8a;
  }

  .booked {
    background-color: brown;
  }

  .unavailable {
  }

  .user1Available {
    background-color: darkcyan;
  }

  .user2Available {
    background-color: cyan;
  }

  .debugInfo {
    display: none;
  }
}

.userSelector {

}

.weekSelector {
  & > div {
    display: inline-block;
    width: $cellWidth + 2;
  }

  .nextCell {
    text-align: right;
  }
  .prevCell {
    text-align: left;
  }

}
