.table {
  border-collapse: collapse;
}

.cell {
  width: 100px;
}

.bookable {
  background-color: #94ff8a;
}

.booked {
  background-color: brown;
}

.unavailable {
}

.user1Available {
  background-color: darkcyan;
}

.user2Available {
  background-color: cyan;
}
